
<html>
 
    <body>
        <canvas id="gfg"
                width="300px"
                height="100px"
                style="border:1px solid #d3d3d3;">
        </canvas>
        <script>
            var g = document.getElementById("gfg");
            var geeks = g.getContext("2d");
            var gradient = geeks.createLinearGradient(1, 4, g.width, 2);
            gradient.addColorStop("0", "green");
            gradient.addColorStop("0.4", "yellow");
            gradient.addColorStop("1.0", "aqua");
            geeks.font = "40px sans-serif";
            geeks.fillStyle = "red";
            geeks.strokeStyle = gradient;
            geeks.strokeText("This is special", 10, 60);
        </script>
    </body>
     
    </html>