<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Logs</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    </head>

<a href="/dashboard"><< Dashboard</a><br><br>

[Mon Aug 01 14:15:43 EDT 2022]<div style="background-color:lightgrey;"> User [2] accessed logs.</div>
[Mon Aug 01 14:16:03 EDT 2022]<div style="background-color:lightgrey;"> User [2] applied for loan ID: [1]</div>
[Mon Aug 01 14:16:05 EDT 2022]<div style="background-color:lightgrey;"> User [2] accessed logs.</div>
[Mon Aug 01 14:16:23 EDT 2022]<div style="background-color:lightgrey;"> User [2] approved loan ID: [1]</div>
[Mon Aug 01 14:16:27 EDT 2022]<div style="background-color:lightgrey;"> User [2] accessed logs.</div>
[Mon Aug 01 14:57:59 EDT 2022]<div style="background-color:lightgrey;"> User [4] accessed logs.</div>
[Wed Aug 10 15:53:35 EDT 2022]<div style="background-color:lightgrey;"> User [1] applied for loan ID: [1]</div>
[Wed Aug 10 15:53:58 EDT 2022]<div style="background-color:lightgrey;"> User [1] applied for loan ID: [2]</div>
[Wed Aug 10 16:14:42 EDT 2022]<div style="background-color:lightgrey;"> User [3] applied for loan ID: [4]</div>
